* {
    margin: 0;
}
html, body {
    height: 100%;
}

body {
    background-color: rgb(57, 126, 67);
    color: rgb(238, 238, 238);
}

.page {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -50px; 
}
.page:after {
    content: "";
    display: block;
}
footer, .page:after {
    height: 50px; 
}
footer {
    background: rgb(240, 239, 239);
    line-height: 50px;
}

footer a, footer i {
    color: rgb(110, 106, 91);
    text-decoration: none;
}

footer a:hover {
    color: rgb(105, 71, 71);
}


.nav-tabs a {
    color: white;
}

.nav-tabs a:hover {
    color: orange;
}
.nav-item:hover {
    border: none;
}